<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Génération et Traduction de Texte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        let timerInterval;
        function startTimer() {
            const timer = document.getElementById('timer');
            let seconds = 0;
            timerInterval = setInterval(() => {
                seconds++;
                timer.innerText = `Temps écoulé: ${seconds} secondes`;
            }, 1000);
        }

        function stopTimer() {
            clearInterval(timerInterval);
            const timer = document.getElementById('timer');
            timer.innerText = '';
        }

        async function generateText() {
            const inputText = document.getElementById('inputText').value;
            const generatedTextDiv = document.getElementById('generatedText');
            const translatedTextDiv = document.getElementById('translatedText');
            const loadingSpinner = document.getElementById('loadingSpinner');

            // Show loading spinner and start timer
            loadingSpinner.style.display = 'block';
            startTimer();

            const response = await fetch('/generate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ input_text: inputText })
            });

            const result = await response.json();

            // Hide loading spinner and stop timer
            loadingSpinner.style.display = 'none';
            stopTimer();

            generatedTextDiv.innerText = result.generated_text;
            translatedTextDiv.innerText = result.translated_text;
        }
    </script>
</head>

<body>
    <h1>Génération et Traduction de Texte</h1>
    <p>Entrez une séquence de mots. GPT-2 générera le texte suivant, et ce texte généré sera traduit en français.</p>
    <input type="text" id="inputText" placeholder="Entrez votre texte ici">
    <button onclick="generateText()">Générer et Traduire</button>
    <div id="timer"></div>
    <div id="loadingSpinner" style="display:none;">
        <img src="../static/spinner.gif" alt="Loading..." />
    </div>
    <h2>Texte Généré</h2>
    <div id="generatedText"></div>
    <h2>Texte Traduit</h2>
    <div id="translatedText"></div>
</body>

</html>